* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #f2fffe;
}
header {
  position: fixed;
  right: 0;
  top: 0;

  background-color: #f2fffe;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
}
.logo img {
  width: 80px;
}
.navlist {
  display: flex;
}
.navlist a.active {
  color: #f54c45;
}
.navlist a {
  color: #3166aa;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
}
.navlist li a {
  transition: 0.2s ease;
}
.navlist a:hover {
  border-radius: 10px;
  padding: 7px;
  color: #f54c45;
}

#menu-icon {
  color: gray;
  font-size: 30px;
  display: none;
}
@media (max-width: 1024px) {
  header {
    padding: 15px 3%;
  }
}
@media (max-width: 800px) {
  #menu-icon {
    display: block;
  }
  .logo img {
    width: 50px;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: 800px;
    width: 300px;
    height: 300px;
    background: #f2fffe;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    padding: 50px 20px;
  }
  .navlist a {
    display: block;
    margin-left: 0;
    margin: 8px 0;
  }

  .navlist.open {
    right: 0;
  }
}

.hero {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  @media (max-width: 1024px) {
    .hero-image img {
      width: 250px;
      border-radius: 20px;
      margin-top: 20px;
    }
  }
}

.hero-home {
  flex: 1;
  padding: 30px;
  margin-left: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 1024px) {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
}
.hero-home p {
  padding-top: 20px;
  max-width: 650px;
  font-size: 22px;
  line-height: 1.6;
  color: #3166aa;
}
.explore {
  border-radius: 20px;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #0056b3;
}
.button .explore:hover {
  background-color: #1b73d1;
}

h1 {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 25px;
  color: #3166aa;
}
.container {
  margin: 10px auto;
  padding: 10px;

  width: 100%;
  background-color: #f2fffe;

  gap: 30px;
  margin-top: 70px;
  margin-bottom: 30px;
  @media (max-width: 1440px) {
    padding-left: 30px;

    padding-right: 30px;
  }
}
.hero-image {
  flex: 1;

  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-image img {
  width: 384px;
  border-radius: 30px;
  margin-top: 80px;
  max-width: 420px;
}
.profile-image {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image img {
  width: 110px;
  border-radius: 50%;
  padding: 7px;
}
.wrapper {
  background-color: #3166aa;
  padding: 4% 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  line-height: 1.5;
  max-width: 800px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.content h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.content p {
  font-size: 22px;
  color: white;
  margin: 5px 0 20px;
}

.subscription-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.subscription-form input[type="email"] {
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  min-width: 200px;
}

.subscription-form button {
  padding: 10px 20px;
  color: white;
  background-color: #2970c7;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.subscription-form button:hover {
  background-color: #1b73d1;
}

@media (max-width: 600px) {
  .content h1 {
    font-size: 24px;
  }

  .content p {
    font-size: 18px;
  }

  .subscription-form {
    gap: 10px;
  }

  .subscription-form input[type="email"] {
    padding: 12px 15px;
    font-size: 14px;
  }

  .subscription-form button {
    padding: 8px 16px;
  }
}

.Testimonial-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;

  padding: 6% 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2fffe;
  width: 100%;
}
.client {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  text-align: center;
}
.Testimonial-card {
  margin-left: 5px;
  color: #0056b3;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 3px #0056be;
  @media (max-width: 767px) {
    width: 300px;
    max-width: 450px;
    padding: 6px;
  }
  .client {
    font-size: 16px;
    position: relative;
  }
}
.Testimonial-card h4 {
  padding: 6px;
}
.single-review p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  padding: 6px;
  color: #0056b3;
}

h4 {
  color: #0056b3;
}

p {
  line-height: 1.5;
}

#partnership {
  width: 100%;
  padding: 50px 10px;
  border-radius: 30px;
  background-color: #fff;
}

.track {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    padding: 2% 8px;
  }
}
.partnership-title {
  position: relative;
  /* top: 5px; */
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  left: 20px;
  text-align: center;
}
.track img {
  width: 120px;
}
.track .kuraz {
  width: 70px;
  @media (max-width: 1024px) {
    margin-right: 50px;
  }
}
footer {
  background-color: #f2fffe;
  padding: 40px 20px;
  color: #3166aa;
  margin-top: 60px; /* Added margin to create space above the footer */
}

.ftr-main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.ftr-items {
  flex: 1;
  margin: 0 20px;
  min-width: 250px;
}

.ftr-items h2,
.ftr-items p {
  color: #3166aa;
  text-align: center;
  margin-bottom: 10px;
}

.ftr-items ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.ftr-items ul li {
  margin-bottom: 5px;
  margin-top: 10px;
}

.ftr-items ul li a {
  color: #3166aa;
  text-decoration: none;
  transition: color 0.3s;
}

.ftr-items ul li a:hover {
  color: #f54c45;
}

.ft-social {
  text-align: center;
}
.fa.fa-twitter::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  content: "";
  background-color: currentColor;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 -8 26 30" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>')
    no-repeat center;
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 -8 26 30" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>')
    no-repeat center;
  background-position: center 3px;
}

.ftr-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.ftr-list li {
  margin: 0 10px;
}

.ftr-list li a {
  color: #3166aa;
  font-size: 24px;
  transition: color 0.3s;
}

.ftr-list li a:hover {
  color: #f54c45;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  color: #ccc;
}

/* Responsive styles - footer */
@media (max-width: 767px) {
  .ftr-main {
    flex-direction: column;
    align-items: center;
  }

  .ftr-items {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }

  .ftr-items h2 {
    font-size: 16px;
  }

  .ftr-list {
    justify-content: center;
  }
}
